<div class="profile-head">
  <div class="photo-content">
    <div class="cover-photo"></div>
  </div>
  <div class="profile-info">
    <div class="profile-photo">
      <img
        src="assets/images/profile/profile.png"
        class="img-fluid rounded-circle"
        alt="/"
      />
    </div>
    <div class="profile-details" *ngIf="authService.currentUser() as user">
      <div class="profile-name px-3 pt-2">
        <h4 class="text-primary mb-0">{{ user.username }}</h4>
        <p>{{ user.role }}</p>
      </div>
      <div class="profile-email px-2 pt-2">
        <h4 class="text-muted mb-0">{{ user.email }}</h4>
        <p>Email</p>
      </div>
    </div>
  </div>
</div>
