<div class="authincation h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-lg-6 col-md-12 col-sm-12 mx-auto align-self-center">
        <div class="login-form">
          <div class="text-center">
            <h3 class="title">Iniciar Sesión</h3>
            <p>Sistema de requerimientos</p>
          </div>
          <form [formGroup]="loginForm" ngNoForm (ngSubmit)="onLogin()">
            <div class="mb-4">
              <label class="mb-1 text-dark">Usuario</label>
              <input type="text" class="form-control form-control" formControlName="email">
            </div>
            <div class="mb-4 position-relative">
              <label class="mb-1 text-dark">Contraseña</label>
              <div class="position-relative">
                <input type="password" class="form-control" formControlName="password"
                  [type]="hide_show ? 'text' : 'password'">
                <span class="show-pass eye" (click)="passwordHide()" [ngClass]="{'active':hide_show}">
                  <i class="fa fa-eye-slash"></i>
                  <i class="fa fa-eye"></i>
                </span>
              </div>
            </div>
            <div class="form-row d-flex justify-content-between mt-4 mb-2">
              <div class="mb-4">
                <div class="form-check custom-checkbox mb-3">
                  <input type="checkbox" class="form-check-input" id="customCheckBox1">
                  <label class="form-check-label" for="customCheckBox1">Recordar contraseña</label>
                </div>
              </div>
              <!-- <div class="mb-4">
                <a routerLink="/page-forgot-password" class="btn-link text-primary">Olvidé mi contraseña</a>
              </div> -->
            </div>
            <div class="text-center mb-4">
              <button type="submit" class="btn btn-primary btn-block">Continuar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-xl-6 col-sm-6">
        <div class="pages-left h-100">
          <div class="login-content">
            <a routerLink="/">
              <img src="../../../../assets/images/logo/perumoney.svg" alt="perumoney" width="220">
            </a>
          </div>
          <div class="login-media text-center">
            <img src="assets/images/login.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
