.icon-box {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-primary-light {
  background-color: rgba(13, 153, 255, 0.1);
}

.bg-warning-light {
  background-color: rgba(255, 193, 7, 0.1);
}

.bg-info-light {
  background-color: rgba(23, 162, 184, 0.1);
}

.bg-success-light {
  background-color: rgba(40, 167, 69, 0.1);
}
